body{
    text-align: center;
}
body > *{
    margin: 20px auto;
    display: block;
}

img{
    width: 100%;
}

picture,
video,
.img-container,
.lazy-bg,
iframe{
    height: 400px;
    width: 600px;
    background: #d4d4d4 !important; 
}

.lazy-bg-1{
    background-repeat: no-repeat !important;
    background: url('https://unsplash.it/600/400?random=3');
}

.slider{
    padding: 0 100px;
}
.slider .glide__slide *{
    width: 100%;
}